<div class="container">
	<h1>Filter Playlist</h1>
	<form [formGroup]="form" (ngSubmit)="save()">
		<h2>Source Playlist</h2>
		<app-selection class="section-container" selectionLabel="Playlist" [search]="searchPlaylists" displayKey="name"
			valueKey="id" formControlName="originId">
		</app-selection>
		<h2>Criteria</h2>
		<div formArrayName="criteria" class="section-container inset criteria-container inset" cdkDropList
			(cdkDropListDropped)="reorderCriteria($event)">
			<div *ngFor="let criterion of formCriteria.controls; let i = index;" class="list-item criteria-item"
				[formGroupName]="i" cdkDrag cdkDragLockAxis="y"
				[cdkDragDisabled]="formCriteria.controls.length <= 2 || (criterion.value.purpose.length && i === formCriteria.controls.length - 1)">
				<!-- Only show drag if there's enough elements to drag AND last element has stuff in it -->
				<div class="drag-criteria"
					[class.hide]="formCriteria.controls.length <= 2 || (criterion.value.purpose.length && i === formCriteria.controls.length - 1)"
					cdkDragHandle>
					<fa-icon [icon]="faBars"></fa-icon>
				</div>
				<div class="input-container">
					<input class="header-input show-optional-header" [class.show-inputs]="criterion.value.description"
						placeholder="add criteria" formControlName="purpose" (input)="onCriteriaChange()">
					<textarea class="subheader-input show-optional-subheader" placeholder="optionally, add description"
						formControlName="description" cdkTextareaAutosize (input)="onCriteriaChange()"></textarea>
				</div>
			</div>
		</div>
		<h2>Actions</h2>
		<div formArrayName="actions" class="section-container">
			<div *ngFor="let action of formActions.controls; let i = index;" class="list-item action-item no-hover">
				<div class="delete-container">
					<fa-icon [icon]="faTrashAlt" [fixedWidth]="true" (click)="deleteAction(i)"></fa-icon>
				</div>
				<!-- @TODO Fix form group/control -->
				<!-- <app-playlist-action [searchPlaylists]="searchPlaylists" [formGroup]="action"></!-->
				<!-- <app-playlist-action [searchPlaylists]="searchPlaylists" [formControl]="formActions.controls[i]">
				</app-playlist-action> -->
				<app-playlist-action [searchPlaylists]="searchPlaylists" [formControlName]="i"></app-playlist-action>
				<!-- {{console.log(i, formActions.controls[i].registerOnChange)}} -->
			</div>
			<div class="list-item add-action" (click)="addDefaultAction()">
				<h2 class="placeholder">add action</h2>
			</div>
		</div>
		<h2>Collaborators</h2>
		<button class="button">Create</button>
	</form>
</div>
