<div class="selection-input list-item" (click)="showModal()">
	<h2 [class.placeholder]="!selectedValue">
		{{selectedValue ? selectedValue : 'select ' + selectionLabel.toLowerCase()}}
	</h2>
	<fa-icon [icon]="faSortDown" class="placeholder"></fa-icon>
</div>

<div *ngIf="modal" class="modal">
	<div class="container">
		<h1>
			<fa-icon [icon]="faTimes" class="close-modal" (click)="hideModal()"></fa-icon>
			{{ create ? 'Create or Select' : 'Select' }} a {{selectionLabel}}
		</h1>
		<input class="header-input search-input" placeholder="search your playlists" [(ngModel)]="value"
			(input)="onSearch($event.target.value)">
		<button *ngIf="create" type="button" class="button" (click)="onCreateButton()">Create</button>
		<ng-container *ngIf="searchResults.length > 0; else empty">
			<button *ngFor="let result of searchResults" class="list-item" (click)="onSelect(result)"
				(focus)="onFocus(result)" (blur)="onUnfocus()">
				<h2>{{result[displayKey]}}</h2>
			</button>
		</ng-container>
		<ng-template #empty>
			<h2>{{search ? emptyMessage : 'Loading...'}}</h2>
		</ng-template>
	</div>
</div>
