rules_version = '2';
service cloud.firestore {
	match /databases/{database}/documents {

		function authorizedPlaylist(playlistId) {
			return request.auth.uid != null
				&& request.auth.uid == get(/databases/$(database)/documents/filteredPlaylists/$(playlistId)).data.createdBy;
		}

		match /filteredPlaylists/{playlistId} {

			// Check if user created the current filtered playlist
			function isOgUser() {
				return request.auth.uid != null && request.auth.uid == resource.data.createdBy;
			}

			allow create: if request.resource.data.keys().hasOnly(['createdBy', 'originId'])
				&& request.resource.data.originId != null
				&& request.auth.uid != null
				&& request.auth.uid == request.resource.data.createdBy;
			allow update: if request.resource.data.keys().hasOnly(['createdBy', 'originId'])
				&& request.resource.data.originId != null
				&& isOgUser();
			allow read, delete: if isOgUser();

			match /filteredSongs/{songId} {

				allow create, update: if request.resource.data.keys().hasOnly(['updatedBy', 'markedCriteria'])
					&& request.auth.uid == request.resource.data.updatedBy
					&& authorizedPlaylist(playlistId);
				allow read, delete: if authorizedPlaylist(playlistId);
			}
		}

		match /filterCriteria/{criteriaId} {

			allow create: if request.resource.data.keys().hasOnly(['playlistId', 'order', 'purpose', 'description'])
				&& authorizedPlaylist(request.resource.data.playlistId);
			allow update: if request.resource.data.keys().hasOnly(['playlistId', 'order', 'purpose', 'description'])
				&& authorizedPlaylist(resource.data.playlistId);
			allow read, delete: if authorizedPlaylist(resource.data.playlistId);
		}

		match /filterActions/{actionId} {

			allow create: if request.resource.data.keys().hasOnly(['playlistId', 'order', 'ifType', 'ifId', 'thenType', 'thenId'])
				&& authorizedPlaylist(request.resource.data.playlistId);
			allow update: if request.resource.data.keys().hasOnly(['playlistId', 'order', 'ifType', 'ifId', 'thenType', 'thenId'])
				&& authorizedPlaylist(resource.data.playlistId);
			allow read, delete: if authorizedPlaylist(resource.data.playlistId);
		}

	}
}
