@import '../../styles/constants';

.song {
	display: flex;
	align-items: flex-start;

	.song-image {
		width: calc(100% / 3);
		flex-grow: 0;
		flex-shrink: 0;
	}

	.song-info {
		margin-left: 2rem;
		flex-grow: 1;
		flex-shrink: 1;

		> * {
			margin-top: 0;
			margin-bottom: 0;
		}

		.song-artists,
		.song-album {
			font-size: 1.5rem;
		}

		.song-title {
			margin-bottom: 1rem;
		}

		.song-album {
			opacity: 0.5;
		}
	}
}

.playback {
	position: relative;
	margin-top: 3.5rem;
	margin-bottom: 5.6rem;

	.progress {
		height: 1rem;
		display: flex;
		align-items: center;
		margin-bottom: 1.75rem;
		cursor: pointer;

		.progress-bar {
			width: 100%;
			position: relative;
			display: flex;
			align-items: center;

			.progress-position,
			.progress-duration {
				position: absolute;
				top: 0;
				display: inline-block;
				color: $light-gray;
				cursor: default;
			}

			.progress-position {
				transform: translate(calc(-100% - 1rem), calc(-50% - 1.5px));
			}

			.progress-duration {
				right: 0;
				transform: translate(calc(100% + 1rem), calc(-50% - 1.5px));
			}

			.progress-full,
			.progress-empty {
				position: absolute;
				height: 3px;
				border-radius: 1rem;
			}

			.progress-full {
				background-color: $green;
			}

			.progress-empty {
				width: 100%;
				background-color: $slightly-light-dark-gray;
			}

			.progress-knob {
				width: 0.5rem;
				height: 0.5rem;
				position: absolute;
				z-index: 1;

				background-color: $white;
				border-radius: 1rem;
			}
		}
	}

	.playback-actions {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.pause-play,
		.previous-track,
		.next-track {
			transition: opacity, transform 100ms cubic-bezier(0, 0, 0.2, 1);
			opacity: 0.75;
			cursor: pointer;

			&:hover {
				transform: scale(1.08);
				opacity: 1;
			}
		}

		.pause-play {
			font-size: 3rem;
		}

		.previous-track,
		.next-track {
			font-size: 1.5rem;
		}
	}
}

.criteria {
	cursor: pointer;
	user-select: none;

	.criteria-switch {
		position: absolute;
		transform: translate(calc(-100% - 0.75rem), 1rem);
	}

	.criteria-description {
		margin-top: 0;
		margin-bottom: 0.75rem;
	}
}
