<div class="container">
	<h1>
		<fa-icon [icon]="faChevronLeft" class="back-nav" routerLink="/select"></fa-icon>
		Filter Songs
	</h1>
	<div class="playback">
		<div class="song">
			<img *ngIf="songImageUrl" class="song-image" [src]="songImageUrl" />
			<div class="song-info">
				<h2 class="song-title">{{songTitle}}</h2>
				<p *ngIf="songArtists" class="song-artists">{{songArtists.join(', ')}}</p>
				<p class="song-album">{{songAlbum}}</p>
			</div>
		</div>
	</div>
	<div *ngFor="let criterion of criteria" class="list-item">
		<h2>{{criterion.purpose}}</h2>
		<p class="criteria-description">{{criterion.description}}</p>
	</div>
	<button class="button">Filter Song</button>
</div>
