/**
 * Global Styles
 */

@import '~sanitize.css';
@import '~sanitize.css/forms.css';

@import './constants';

html {
	background: $black;
	color: $white;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.125rem;
}

h1, h2 , h3, .header-input {
	font-family: 'Cabin', sans-serif;
	margin-top: 0;
}

h1 {
	font-size: 3rem;
}

h2, .header-input {
	font-size: 2.25rem;
	margin-bottom: 1.75rem;
}

h3 {
	font-size: 1.5rem;
	margin-bottom: 0.625rem;
}

p {
	margin-bottom: 2.25rem;
}

button {
	cursor: pointer;
}

.container {
	width: 100%;
	max-width: 48rem;
	margin: 0 auto;
	padding: 5rem;
}

.inset {
	width: calc(100% + #{$inset-margin * 2});
	margin-left: -$inset-margin;
	margin-right: -$inset-margin;
}

.placeholder {
	color: $light-gray;
}

.button {
	// @extend .inset;

	width: 100%;
	margin-bottom: 4.75rem;
	padding: 2.25rem;
	cursor: pointer;

	background: $green;
	border-radius: $border-radius;
	border: none;

	color: $white;
	font-family: 'Cabin', sans-serif;
	font-size: 2.25rem;
	font-weight: bold;
	text-transform: uppercase;
}

.header-input {
	width: 100%;
	margin: 0;
	padding: 0;

	border: none;

	&::placeholder {
		@extend .placeholder;
	}
}

.subheader-input {
	width: 100%;
	margin: 0;
	padding: 0;

	resize: none;
	overflow: hidden;
	border: none;

	&::placeholder {
		@extend .placeholder;
	}
}

.list-item {
	@extend .inset;

	// width: 100%;
	margin-bottom: 1.5rem;
	padding: 2.25rem 5.5rem;
	text-align: left;

	background: $gray;
	border-radius: $border-radius;
	border: none;

	transition-duration: 250ms;
	transition-timing-function: ease-out;
	transition-property: background, color;

	&:hover {
		background: $slightly-light-dark-gray;
	}

	&:focus {
		color: $black;
		background: $light-gray;
	}

	h2 {
		margin: 0;
	}
}

.section-container {
	display: block;
	margin-bottom: 6rem;
}
