@import '../../../styles/constants';

select {
	margin-bottom: 0.5rem;
	padding: 0.25em 0.375em;

	background-color: $slightly-light-dark-gray;
	border: none;
	border-radius: 0.25rem;
	cursor: pointer;

	&:not([multiple]):not([size]) {
		background-image: none;
	}
}
