@import '../../../styles/constants';

.action-item {
	padding-bottom: 0;
}

select {
	width: auto;
	// display: inline;
	margin-bottom: 0.5rem;
	padding: 0.25em 0.375em;

	background-color: $slightly-light-dark-gray;
	border: none;
	border-radius: 0.25rem;

	&:focus {
		width: auto;
	}

	&:not([multiple]):not([size]) {
		background-image: none;
	}

	option {
		border: 3px solid red;
	}
}
